*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

}

#canvas {
    width: 420px;
    border: 5px solid black;
}


.cell{
    width: 70px;
    height: 70px;
    border: 1px solid black;
}

.row{
    /* align-items: center; */
    /* height: 100px; */
    /* margin: 10px; */
    display: flex;
}

.activeRight{
	background-image: url('snake.png');
	background-size: cover;
	background-repeat: no-repeat;
	transform: scaleX(-1);
}
.activeLeft {
	background-image: url('snake.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.activeUp{
	transform: rotate(90deg);
	background-image: url('snake.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.activeDown{
	transform: rotate(270deg);
	background-image: url('snake.png');
	background-size: cover;
	background-repeat: no-repeat;
}

