#canvas {
    display: grid;
    width: 50%;
    height: 50%;
    border: 5px solid black;

}

.cell{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin: 2px;
}

.row{
    align-items: center;
    /* border: 1px solid black; */
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.active{
    background-color: red;
}